@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Nunito';
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

div::-webkit-scrollbar,
section::-webkit-scrollbar {
  display: none;
}

div,
section {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
